.form {
  background: white;
  padding: 5px 10px;
  border-radius: 7px;
  display: flex;
  gap: 7px;
  margin: 1em 0;
}

.form input {
  padding: 5px;
  background: none;
  border: none;
  font-size: 1em;
  outline: none;
  flex: 1;
  font-family: "Montserrat", sans-serif;
}

.form.active {
  box-shadow: 0 0 19px #b0d7f4;
}

.form button {
  background: #a93ffe;
  border: none;
  font-size: 1rem;
  padding: 0.4em 1em;
  color: #f1e6fe;
  border-radius: 7px;
  cursor: pointer;
}

.form button:focus,
.form button:hover {
  filter: brightness(120%);
  /* box-shadow: 0 0 8px #b0d7f4; */
}
